annotated-types
anyio
black
certifi
click
dnspython
email_validator
fastapi
fastapi-cli
h11
httpcore
httptools
httpx
idna
iniconfig
itsdangerous
Jinja2
joblib
markdown-it-py
MarkupSafe
mdurl
mypy-extensions
nltk
numpy
orjson
packaging
pathspec
platformdirs
pluggy
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
Pygments
pytest
python-dotenv
python-multipart
PyYAML
regex
rich
rich-toolkit
scikit-learn
scipy
shellingham
sniffio
starlette
textblob
threadpoolctl
tqdm
typer
typing_extensions
ujson
uvicorn
uvloop
watchfiles
websockets
